<tr class="{CSS_ROW} {ADDITIONAL_CSS} xudf_table_row xudfSortable" id="xudf_row_{ID}">
    <td class="std small">
        <span class="glyphicon glyphicon-resize-vertical"></span>
    </td>
    <td class="std small">
        {TITLE}
    </td>
    <td class="std small">
        {DESCRIPTION}
    </td>
    <td class="std small">
        {TYPE}
    </td>
    <td class="std small">
        {UDF_TYPE}
    </td>
    <td class="std small">
        {UDF_REQUIRED}
    </td>
    <td class="std small">
        {ACTIONS}
    </td>
</tr>